<div class="grid-container container">
    <div class="area1"></div>
    <div class="area2">
        <ul class="result-names">
            <li><%- name %>'s :<b><%- total %></b></li>
            <li class="seperator"></li>
            <li>All other :<b><%- all - total %></b></li>
        </ul>
    </div>
    <div class="area3">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- uniquenames -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1015859928690519"
             data-ad-slot="2833069364"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="area4">
        <div id="USAChart" style="width: 100%; min-height: 400px"></div>
    </div>
    <div class="area5"><div id="lineChart" style="width: 100%;height: 350px;"></div></div>
</div>

<script src="/echarts.min.js"></script>
<script type="text/javascript">
    let USAChart = echarts.init(document.getElementById('USAChart'));
    USAChart.showLoading();
    echarts.registerMap('USA', <%- mainStates %>);
    let option = {
        title: {
            text: "<%- name %>s in the USA",
            subtext: "Total <%- name %>'s : <%- total %>",
        },
        visualMap: {
            min: 1,
            max: 100000,
            inRange: {
                color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
            },
            text: ['High', 'Low'],
            calculable: true
        },
        tooltip: {
            trigger: 'item',
            showDelay: 0,
            transitionDuration: 0.2,
            formatter: function (params) {
                return "<%- name %>" + "'s in " + params.name + ': ' + (params.value ? params.value : 0);
            }
        },
        toolbox: {
            show: false,
        },
        series: [
            {
                name: 'USA Names',
                type: 'map',
                roam: true,
                map: 'USA',
                emphasis: {
                    label: {
                        show: true
                    }
                },
                data: <%- nameData %>
            }
        ]
    };

    USAChart.hideLoading();
    USAChart.setOption(option);

    let lineChart = echarts.init(document.getElementById('lineChart'));
    lineChart.showLoading();

    let lineOption = {
        title: {
            text: "<%- name %>'s in years.",
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            left: 'right',
            data: ['Male', 'Female']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            data:  <%- years %>
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: <%- maleNameCounts %>,
                name: 'Male',
                type: 'line'
            },
            {
                data: <%- femaleNameCounts %>,
                name: 'Female',
                type: 'line'
            }]
    };

    lineChart.hideLoading();
    lineChart.setOption(lineOption);
</script>
